*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f2f2f2;
}

/* HEADER */

header{
    background:#000;
    height:70px;
    padding:0 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo-nav img{
    width:55px;
}

nav{
    display:flex;
    gap:18px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:13px;
}

.activo{
    background:white;
    color:black;
    padding:5px 10px;
    border-radius:5px;
}

.botones{
    display:flex;
    gap:10px;
}

.botones a{
    text-decoration:none;
    padding:8px 14px;
    border-radius:5px;
    font-size:14px;
}

.btn-claro{
    background:white;
    color:black;
}

.btn-oscuro{
    background:#333;
    color:white;
}

/* REGISTRO */

.registro-container{
    text-align:center;
    padding:30px 20px 50px;
}

.logo-principal{
    width:220px;
}

.registro-container h2{
    color:#777;
    margin-bottom:20px;
    font-weight:normal;
}

.registro-box{
    width:340px;
    margin:auto;
    background:white;
    border:1px solid #ddd;
    border-radius:8px;
    padding:20px;
}

.registro-box form{
    display:flex;
    flex-direction:column;
}

.registro-box label{
    text-align:left;
    margin-top:10px;
    margin-bottom:5px;
}

.registro-box input{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

.registro-box button{
    margin-top:15px;
    padding:12px;
    border:none;
    border-radius:5px;
    background:#2d2d2d;
    color:white;
    cursor:pointer;
}

/* FOOTER */

footer{
    background:#2a2a2a;
    color:white;
    display:flex;
    justify-content:space-around;
    padding:40px;
    margin-top:40px;
}

footer h4{
    margin-bottom:15px;
}

footer p{
    margin-bottom:8px;
}